<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
  @for (skillGroup of skillsGroups; track $index) {
    <section appSection>
      <h2 class="text-headline">{{ skillGroup.groupName }}</h2>
      <ul>
        @for (skill of skillGroup.skills; track skill) {
          <li>{{ skill }}</li>
        }
      </ul>
      @if (skillGroup.rarelyUsedSkills.length) {
        <h3 class="text-title">Rarely used</h3>
        <ul>
          @for (skill of skillGroup.rarelyUsedSkills; track skill) {
            <li>{{ skill }}</li>
          }
        </ul>
      }
    </section>
  }
</div>
