<div class="grid grid-cols-2 gap-5">
  <section appSection>
    <h2 class="text-headline">Everyday skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>Angular Material</li>
      <li>Typescript</li>
      <li>SASS</li>
      <li>Git</li>
    </ul>
  </section>
  <section appSection>
    <h2  class="text-headline">Not often used</h2>
    <ul>
      <li>Node.js</li>
      <li>SQL</li>
      <li>REST API</li>
      <li>GraphQL</li>
    </ul>
  </section>
  <section appSection>
    <h2 class="text-headline">Rarely used or basic knowledge</h2>
    <ul>
      <li>Python</li>
      <li>PHP</li>
      <li>Java</li>
      <li>C#</li>
      <li>C</li>
      <li>C++</li>
    </ul>
  </section>
</div>
