<div class="flex items-center justify-center w-full h-full">
  <div class="w-full h-full max-w-[800px] max-h-[800px] bg-tertiary flex flex-col" appSection>
    <div class="flex justify-between items-center pb-4">
      <h1 class="text-headline">{{ data().name }}</h1>
      <button (click)="closeModal()">X</button>
    </div>
    <div class="overflow-auto h-full">
      {{ data().description }}
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr retyr
      retyr retyr
    </div>
  </div>
</div>
