<div class="h-[90vh]">
  <swiper-container
    style="--swiper-navigation-color: #f8e71c; --swiper-pagination-color: #f8e71c" class="mySwiper"
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true"
  >
    @for (item of array; track i; let i = $index) {
      <swiper-slide>
        <img src="/{{ i }}.jpg"/>
      </swiper-slide>
    }
  </swiper-container>
  <swiper-container
    class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true"
    watch-slides-progress="true"
  >
    @for (item of array; track i; let i = $index) {
      <swiper-slide>
        <img src="/{{ i }}.jpg"/>
      </swiper-slide>
    }
  </swiper-container>
</div>
