<div class="h-[90vh]">
  <swiper-container
    #slider
    style="--swiper-navigation-color: #f8e71c; --swiper-pagination-color: #f8e71c" class="mySwiper"
    appSection
    init="false"
  >
    @for (item of array; track i; let i = $index) {
      <swiper-slide>
        <img src="/certificates/{{ i }}.jpg" alt="certificate"/>
      </swiper-slide>
    }
  </swiper-container>
  <swiper-container
    #slider2
    class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true"
    watch-slides-progress="true"
  >
    @for (item of array; track i; let i = $index) {
      <swiper-slide class="border rounded-3xl p-2">
        <img src="/certificates/{{ i }}.jpg" alt="certificate"/>
      </swiper-slide>
    }
  </swiper-container>
</div>
