<header class="sticky top-0 inset-x-0 bg-[#ffffffee] z-[2]">
  <app-header/>
</header>
<main class="px-4 pt-4 xs:px-8 xs:pt-8 flex flex-grow">
  <div
    [@routeAnimations]="getRouteAnimationData()"
    class="max-w-4xl mx-auto w-full flex-grow overflow-x-hidden pb-4 xs:pb-8"
  >
    <router-outlet/>
  </div>
  @if (projectDescription()) {
    <div class="fixed inset-0 bg-[#ffffffee] z-50">
      <app-project-description [data]="projectDescription()" (close)="closeModal()"></app-project-description>
    </div>
  }
</main>
<footer>
  <app-footer/>
</footer>
<footer></footer>
