<div class="flex flex-col gap-8">
    <section appSection class="flex max-md:flex-col-reverse">
      <div class="w-full max-w-[800px]">
        <h2 class="text-headline">About me</h2>
        <p [innerHTML]="personalInfo.about"></p>
      </div>
      <div class="flex flex-col gap-1 w-full max-w-[200px]">
        <img class="rounded-3xl" src="/img.jpeg" alt="portrait">
        <div>
          <a href="https://www.linkedin.com/in/dzmitry-m-6179b5234/" target="_blank" class="contents">
            <img src="/logo/linkedin.svg" alt="linkedin">
          </a>
        </div>
      </div>

    </section>
    <section appSection>
      <h2 class="text-headline">Current work</h2>
      <p [innerHTML]="personalInfo.currentJob"></p>
    </section>
</div>
