<div class="flex flex-col gap-8">

<!--  <div class="w-full">-->
    <section appSection class="flex max-md:flex-col-reverse">
      <div class="w-full max-w-[800px]">
        <h2 class="text-headline">About me</h2>
        <p>
          I hold a high degree in power engineering and have extensive experience in the field of power plants. I have completed all
          RSSchool
          frontend/backend courses and have successfully implemented more than 20 projects.<br><br>
          Also I took part in the 3 commercial projects. You can learn more about that in the Gallery section.<br><br>
          Furthermore, I had the opportunity to mentor a JavaScript/Front-end course at Rolling Scopes School during the 2023Q1 term.
          Throughout this period, I guided 3 students and conducted 11 interviews.
        </p>
      </div>
      <div class="w-full min-w-[200px] max-w-[300px] self-center">
        <img class="object-center object-cover aspect-[0.7] rounded-3xl" src="/photo.png" alt="portrait">
      </div>

    </section>
    <section appSection>
      <h2 class="text-headline">Current work</h2>
      <p>
        In the EventUI I worked in a team of 5 persons. We created a big platform for creating events.
        Thanks to this platform the Organiser have ability to automatically create the multi-language web-site for his event add/edit all
        information and media to this site.
        He can create the registration form with necessary fields, that will be used by users to register to his event. The Organiser always
        can watch the list of registered users with necessary information from the registration form. More than that, he can contact with
        users (or selected users) throw the email or sms from the platform.
        Also we prepared a system that helps the Organiser to create and use videoconferences from the platform. And finally, the Organiser
        can sell whatever he wants. He can add necessary products and he will always have ability to check the statistics of his shop.
        What that more important, the organiser can simply add his shop and videoconferences to the web site of the event thanks to
        special-prepared web-components.<br><br>
        With about 2 years of experience at the EventUI as a frontend developer, I have been responsible for writing code to implement new
        platform features using the Angular v15-v17 framework. Additionally, I created web-components (micro frontends) using Angular v17
        and maintain and add new functionality to websites built with WordPress and PHP (I added ability Organiser to easily add our web
        components to his events site) .
      </p>
    </section>
<!--  </div>-->
</div>
